/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 41px;
    background: rgb(255, 255, 100);
}

 .header-link{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
 }

 .login-signup {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 1rem;
}

path {
    fill: black;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.125;
    text-size-adjust: 100%;
    display: contents;
    letter-spacing: 1.2px;
  }

a {
    color: black;
    text-decoration: none;
}

.testing {
    -webkit-tap-highlight-color: rgba(255,255,255,.15);
    color: #5ba7c2;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    text-align: center;
}

.login-form-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-signup-label {
    color: #ede8e9;
    font-weight: 400;
    font-size: 14px;
}

.login-signup-input {
    background-color: #363636;
    border-color: #555;
    color: #ccc;
    border: 1px solid #bbb;
    border-radius: 2px;
    padding: 5px;
    min-width: 120px;
    max-width: 80%;
    font-size: 15px;
    box-sizing: border-box;
    width: 100%;
    font: 99% sans-serif;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

.session-submit {
    margin-bottom: 8px;
    width: auto;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #262626;
    color: #ccc;
    font-size: 13px;
    margin-right: 10px;
    border: 1px solid #444;
    display: inline-block;
    font: normal 13px/1rem Programme,sans-serif;
    position: relative;
    border-radius: 2px;
    padding: 5px 9px;
    margin: 3px 4px 5px 0;
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-rtl-ordering: logical;
}

 .welcome-text {
    height: 20px;
    text-align: center;
    font-size: 62px;
    line-height: 100%;
    margin-bottom: 0;
    color: #ffff64;
    -webkit-font-smoothing: antialiased;
    font-family: DinCondensed,sans-serif;
    font-weight: 700;
    padding-top: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.signup-text {
    margin-bottom: 20px;
    text-align: center;
    color: #ffff64;
    font-size: 30px;
    font-weight: 400;
    font-family: DinCondensed,sans-serif;
    line-height: 100%;
    padding-top: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navlink-text{
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Programme,sans-serif;
    color: #ccc;
    font-size: 15px;
}

.login-signup-form{
    display: flex;
    flex-direction: column;
}

.header-items {
    display: inline-flex;
    flex-direction: column;
    height: 160px;
}

.search-bar {
    margin-left: 0.5rem;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: 'Orbitron', sans-serif;
    font: 400 11px;
    font-feature-settings: "ss07", "ss08", "ss11", "ss12", "ss14", "ss15", "ss16", "ss18", "ss19", "ss20", "ss21";
    font-size: inherit;
    font-weight: normal;
    line-height: 2;
    -webkit-appearance: none;
    resize: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    outline: none;
    padding: 0px 0.125rem 0px 0.5rem;
    box-sizing: border-box;
}

.material-icons{
    background-color: white;
    position: absolute;
}

#search {
    font-size: 32px;
}

.search-button {
    display: contents;
}

.sub-header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 40px;
}

.sub-path {
    color: white;
    border-left: 1px solid rgb(255, 255, 255);
    height: 0.875rem;
    line-height: 1;
    padding: 0px 10.25rem;
    margin: 12px;
}

#no-border-sub {
    border-color: black;
}

.profile-img {
    width: 35px;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
    transition: .2s border-bottom;
    cursor: pointer;
}

button{
    display: contents;
    cursor: pointer; 
}

#notification-button {
    background: transparent;
    margin-left: -2.5rem;
    margin-top: .7rem;
    font-size: 30px;
    transition: .2s border-bottom;
}

#activity-button {
    background: transparent;
    margin-left: -5rem;
    margin-top: .7rem;
    font-size: 30px; 
    transition: .2s reverse border-bottom;
}

#activity-button:hover {
    color: #000;
    border-bottom: .1rem solid #ff1464;
}

#notification-button:hover{
    color: #000;
    border-bottom: .1rem solid #ff1464;
}

.profile-img:hover{
    color: #000;
    border-bottom: .2rem solid #ff1464;
}

.profile-dropdown{
    z-index: 3;
    position: absolute;
    top: calc(41px + 1rem);
    right: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
    max-height: calc((100vh - 41px) - 4.5rem);
    width: 210px;
    overflow: hidden;
}

.logout-button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.dropdown-header{
    line-height: 1;
    padding: 0.75rem 1rem;
}

.dropdown-item{
    line-height: 1;
    cursor: pointer;
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    border-top: 0.15rem solid rgb(233, 233, 233);
}

.dropdown-item:hover{
    background-color: #99a7ee;
    color: #fff;
}

.dropdown-item-link:hover{
    color: #fff;
}

h1 {
    font-size: 35px;
    margin-top: 0.3rem;
}

.main-news-img{
    width: 625px;
}

.main-news{
    display: flex;
}

.news{
    margin-top: 10rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.main-news-label {
    font-size: 13px;
    font-weight: bolder;
    border-bottom: solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px
}

.main-news-label span {
    background:#fff; 
    padding:0 4px;
}

.main-news-headers{
    margin-right: 4rem;
}

.main-news-header{
    font-size: 35px;
    margin-top: 0.3rem;
    font-weight: 500;
    margin-right: 4rem;
}

.main-news-subheader{
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.main-page-author{
    margin-top: 2rem;
    font-size: 0.75rem;
    letter-spacing: 0.3px;
}

.main-news-authdate{
    color: rgb(154, 154, 154);
}

.main-news-header:hover{
    text-decoration: underline;
}

.other-news-img{
    width: 225px;
    margin-top: 0.7rem;
    height: 128px;
}

.other-news{
    margin-top: 3rem;
}

.other-news-list{
    display: flex;
    flex-direction: row;
}

.other-news-item{
    border-left: solid #000;
}

.other-news-content{
    margin-left: 2rem;
}

.other-news-header{
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 30px;
    font-weight: 500;
}

.other-news-label{
    font-size: 13px;
    font-weight: bolder;
}

.other-news-authdate{
    color: rgb(154, 154, 154);
}

.other-news-header:hover{
    text-decoration: underline;
}

.other-page-author-1{
    margin-right: 2rem;
    font-size: 0.75rem;
    letter-spacing: 0.3px;
    margin-top: 14.2rem;
}

.other-page-author-2{
    margin-right: 2rem;
    font-size: 0.75rem;
    letter-spacing: 0.3px;
    margin-top: 5.9rem;
}

.other-page-author-3{
    margin-right: 2rem;
    font-size: 0.75rem;
    letter-spacing: 0.3px;
    margin-top: 10rem;
}

.other-page-author-4{
    margin-right: 2rem;
    font-size: 0.75rem;
    letter-spacing: 0.3px;
    margin-top: 8rem;
}

.track-album-cover{
    width: 250px;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    border: solid rgb(177, 177, 177);
}

.track-header{
    background-color: rgb(34, 34, 34);
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    background-image: url("https://cdn2us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/2019/11/elsa_and_anna_in_frozen_2_ending_0.jpg?itok=2IR6FDMs");
    /* Using Frozen cover for test purposes only */
}

.track-header-titles{
    color: white;
    margin-left: 1rem;
    margin-top: 4rem;
}

.track-title{
    color: rgb(255, 255, 100);
    font-size: 2.25em;
}

.track-artist-name{
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0.4rem;
    color: white;
}

#track-album-title{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.track-album-title{
    margin-left: 0.2rem;
    color: #7d8fe8;
}

.track-lyrics{
    display: flex;
    background-color: white;
    margin-left: 6rem;
    font-size: 1.125em;
}

.track-lyrics-body{
    margin-left: 1rem;
    margin-right: 10rem;
    margin-top: 2rem;
    line-height: 2rem;
}

.track-lyrics-title{
    color:  rgb(177, 177, 177);
    margin-top: 1.5rem;
    margin-left: 7rem;
}

.track-page{
    background-color: white;
}

.artist-img{
    position: absolute;
    margin-top: 2rem;
    margin-left: 10rem;
    border: solid white;
    border-radius: 100%
}

.artist-featured-title{
    color: white;
    margin-left: 35rem;
    padding-top: 16rem;
    padding-bottom: 1rem;
}

.artist-header{
    background-image: url(https://img.cinemablend.com/filter:scale/cb/a/2/4/e/2/f/a24e2f4993d189113b4124daa0142d1f77e8787ce304a265793cca30ed6384d9.jpg?mw=600);
    background-color: rgb(34, 34, 34);
    background-blend-mode: overlay;
    background-size: cover;
}

.artist-page{
    background: #f7f7f7;
}

.artist-body{
    margin-top: 5rem;
    font-size: 17px;
    letter-spacing: 0;
}

.artist-name{
    margin-left: 17.5rem;
}

.artist-about{
    background: white;
    margin-left: 7rem;
    padding: 1rem;
    width: 23rem;
    margin-top: 2rem;

}

.artist-body-contents{
    display: flex;
}

.artist-about-body{
    margin-top: 2rem;
}

.artist-about-title{
    font-weight: bolder
}

.artist-featured{
        margin-left: 3rem;
}

.artist-songs{
    background: white;
    padding: 1rem;
    margin-top: 2rem;
}

.artist-albums{
    background: white;
    padding: 1rem;
    margin-top: 2rem;
}

.artist-album-list{
    margin-top: 1rem;
}

.artist-track-list{
    margin-top: 1rem;
}

.charts-item{
    display: flex;
    flex-direction: row;
}

.charts-headers{
    margin-top: 5rem;
}

.charts-header-title{
    margin-left: 30rem;
    font-size: 5rem;
    font-weight: 900;
    font-family: 'WaltographRegular';
}

.charts-header-sub{
    margin-left: 33.5rem;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-weight: 900;
    color: rgb(255, 20, 100);
}

.charts-album-cover{
    width: 60px;
    margin-left: 5rem;
}


.charts-artist-name{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 10rem;
    font-size: 26px;
}

.charts-track-title{
    margin-top: 1rem;
    letter-spacing: 0;
    font-size: 26px;
    font-weight: 900;
    width: 35%;
    display: flex;
}

.charts-item {
    display: flex;
    border-bottom: 0.2rem solid rgb(233, 233, 233);
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transition: background-color 0.1s ease 0s;
}

.charts-item:hover {
   background: rgb(233, 233, 233);;
}


.charts-album-artwork {
    width: 25%;
}

.charts-list{
    margin-top: 5rem;
}

.charts-track-des{
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(154, 154, 154);
    margin-top: 0.7rem;
}

.charts-bullets{
    font-size: 26px;
    margin-top: 1rem
}

.annotation{
    float: right;
    margin-right: 7rem;
    margin-top: 5rem;
    padding-left: 2rem;
    border-left: solid;
    padding-bottom: 1rem;
    border-width: thick;
    border-left-color: #99a7ee;
}

.annotation-contributor{
    font-size: .875em;
}

.annotation-body{
    margin: 1rem 0;
    width: 25rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-bottom: 1rem;
}

.annotation-edit-button{
    font-size: 1rem;
    font-weight: 500;
}

.aeb{
    border: black;
    border-style: solid;
    padding: 0.2rem 0.5rem;
}

.aeb:hover{
    background:  rgb(233, 233, 233);
}

.annotation-form{
    float: right;
    margin-right: 7rem;
    margin-top: 5rem;
    padding-left: 2rem;
    border-left: solid;
    padding-bottom: 1rem;
    border-width: thick;
    border-left-color: #99a7ee;
}

.annotation-form-body{
    margin: 1rem 0;
}

.annotation-form-save-button{
    font-size: 1rem;
    font-weight: 500;
    /* border: #0ecb27;
    border-style: solid;
    cursor: pointer;
    padding: 0.2rem 0.5rem; */
    transition: background-color .3s,border-color .3s;
}

.annotation-form-save-button:hover{
    transition: none;
    background-color: rgba(14,203,39,.2);
}

.annotation-cancel-action-button{
    font-size: 1rem;
    font-weight: 500;
    color: #9a9a9a;
    border-style: solid;
    padding: 0.2rem 0.5rem;
}

.afb{
    margin: 0px;
    width: 380px;
    overflow: hidden visible;
    overflow-wrap: break-word;
    height: 200px;
    background-color: rgba(204,204,204,.2);
    border: none;
    margin-left: -.5rem;
    margin-right: -.5rem;
    padding: .5rem;
    font-size: 16px;
    line-height: 1.5rem;
    resize: none;
}

.afb:active{
    box-shadow: #99a7ee 0 0 0.3em inset;
    outline: 0;
}

.afb:focus{
    box-shadow: #99a7ee 0 0 0.3em inset;
    outline: 0;
}

.annotation-form-buttons{
    display: flex;
    flex-direction: row;
}

.afsb{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border: #0ecb27;
    border-style: solid;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    color: #0ecb27;
    transition: background-color .3s,border-color .3s;
}

.afsb:hover{
    transition: none;
    background-color: rgba(14,203,39,.2);}

.acab{
    padding: 0.4rem;
    margin-left: 0.2rem;
    transition: background-color .3s,border-color .3s;
}

.acab:hover{
    transition: none;
    background-color: rgba(154,154,154,.2);
}

.wtf{
    transition: background-color .3s,border-color .3s;
}

.wtf:hover{
    transition: none;
    background-color: rgba(14,203,39,.2);
}

#yinw{
    background: blue;
}

.lyrics-line{
    display: flex;
}